# Kafka
KAFKA_BROKER=localhost:9092

# DB Comercial
COMMERCIAL_DB_HOST=localhost
COMMERCIAL_DB_PORT=5432
COMMERCIAL_DB_USER=admin
COMMERCIAL_DB_PASSWORD=secret123
COMMERCIAL_DB_NAME=commercial_db

# DB Logística
LOGISTICS_DB_HOST=localhost
LOGISTICS_DB_PORT=5433
LOGISTICS_DB_USER=admin
LOGISTICS_DB_PASSWORD=secret123
LOGISTICS_DB_NAME=logistics_db

# Puertos
ORDERING_PORT=3000
API_PORT=3001

# Email
EMAIL_USER=tu-correo@gmail.com
EMAIL_PASSWORD=tu-app-password