# Kafka
KAFKA_BROKER=pkc-n3603.us-central1.gcp.confluent.cloud:9092
API_KEY=MNJKJQEA4IAFTLHM
API_SECRET=cfltt6w+41l51fTkyEJ+UDnh0+NzZCexQm201ifTFN+nEgHkOetY6e7cv0eLM3SQ

# DB Logística
LOGISTICS_DB_HOST=localhost
LOGISTICS_DB_PORT=5433
LOGISTICS_DB_USER=admin
LOGISTICS_DB_PASSWORD=secret123
LOGISTICS_DB_NAME=logistics_db



