# Kafka
KAFKA_BROKER=pkc-n3603.us-central1.gcp.confluent.cloud:9092
API_KEY=MNJKJQEA4IAFTLHM
API_SECRET=cfltt6w+41l51fTkyEJ+UDnh0+NzZCexQm201ifTFN+nEgHkOetY6e7cv0eLM3SQ

# DB Comercial
COMMERCIAL_DB_HOST=localhost
COMMERCIAL_DB_PORT=5432
COMMERCIAL_DB_USER=admin
COMMERCIAL_DB_PASSWORD=secret123
COMMERCIAL_DB_NAME=commercial_db

