EMAIL_USER = juanpablomorenopatarroyo1@gmail.com
EMAIL_PASSWORD = mpfp dzpd wmmg vplk

# Kafka
KAFKA_BROKER=pkc-n3603.us-central1.gcp.confluent.cloud:9092
API_KEY=MNJKJQEA4IAFTLHM
API_SECRET=cfltt6w+41l51fTkyEJ+UDnh0+NzZCexQm201ifTFN+nEgHkOetY6e7cv0eLM3SQ